<template>
  <div>

    <v-btn color="primary" v-on:click="prev">
      <v-icon>mdi-chevron-left</v-icon>
    </v-btn>

    <ul class="quarter-picker__list">
      <li
        class="quarter-picker__list__item"
        v-for="index of 3" :key="index"
      >
        <v-date-picker
          v-model="dates"
          multiple
          :events="dateFunctionEvents"
          no-title
          :picker-date="getPickerDate(index - 1)"
          prev-icon=""
          next-icon=""
        />
      </li>
    </ul>

    <v-btn color="primary" v-on:click="next">
      <v-icon>mdi-chevron-right</v-icon>
    </v-btn>

  </div>
</template>

<style>
.quarter-picker__list {
  list-style-type: none;
  padding: 0 !important;
}

.quarter-picker__list__item {
  display: inline-block;
}
</style>

<script>
export default {
  props: [
    'value',
    'initial-quarter',
  ],
  data() {
    return {
      quarter: this.initialQuarter,
      dates: this.value,
    };
  },
  methods: {
    prev() {
      const currentDate = new Date(this.quarter);

      currentDate.setMonth(currentDate.getMonth() - 3);

      this.quarter = `${currentDate.getFullYear()}-${currentDate.getMonth() + 1}`
    },

    next() {
      const currentDate = new Date(this.quarter);

      currentDate.setMonth(currentDate.getMonth() + 3);

      this.quarter = `${currentDate.getFullYear()}-${currentDate.getMonth() + 1}`
    },

    getPickerDate(index) {
      const [year, month] = this.quarter.split('-');

      const monthNumber = +month + +index;

      return `${year}-${monthNumber < 10 ? '0' + monthNumber : monthNumber}`;
    },

    dateFunctionEvents(date) {
      if (this.dates.includes(date)) {
        return ['green'];
      }

      return false;
    },
  },
  watch: {
    value: {
      immediate: true,
      handler(newValue) {
        this.dates = newValue;
      }
    },
    dates: {
      handler(newValue) {
        this.$emit('change', newValue);
      }
    }
  }
}
</script>
