<template>
  <v-layout
    column
    justify-center
    align-center
  >

    <v-overlay :value="isLoading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>


    <div class="text-center">
      <QarterPicker initial-quarter="2019-01" :value="dates" v-on:change="onChange" />
    </div>

    <v-btn color="primary" v-on:click="save()">Save</v-btn>
    <v-btn color="primary" v-on:click="reset()">Reset</v-btn>
  </v-layout>
</template>

<script>

import axios from 'axios';
import QarterPicker from '~/components/QuarterPicker.vue'

const GET_URL = `http://test.unit.homestretch.ch/`;
const POST_URL = `http://test.unit.homestretch.ch/save`;

export default {
  components: {
    QarterPicker,
  },
  data() {
    return {
      dates: [],
      isLoading: false,
      hasError: false,
      initialDates: [],
    }
  },
  methods: {
    async getDayoffs() {
      this.hasError = false;
      this.isLoading = true;

      await axios.get(GET_URL)
        .then((response) => {
          this.dates = this.initialDates = response.data;
        })
        .catch(() => {
          this.hasError = true;
        });

      this.isLoading = false;
    },

    async saveDayoffs(value) {
      this.hasError = false;
      this.isLoading = true;

      await axios.post(POST_URL, value)
        .then(() => {
          this.dates = this.initialDates = response.data;
        })
        .catch(() => {
          this.hasError = true;
        });

      this.isLoading = false;
    },

    dateFunctionEvents(date) {
      if (this.dates.includes(date)) {
        return ['green'];
      }

      return false;
    },

    reset() {
      this.dates = this.initialDates;
    },

    async save() {
      const initialDates = this.initialDates
        .filter((date) => !this.dates.includes(date))
        .map((date) => {
          return {
            date,
            value: false,
          }
        });

      const newValues = this.dates
        .filter((date) => !this.initialDates.includes(date))
        .map((date) => {
          return {
            date,
            value: true,
          };
        });

      const arrayToSave = Array.from(new Set(initialDates.concat(newValues)));

      this.saveDayoffs(arrayToSave);
    },

    onChange(newValue) {
      this.dates = newValue;
    }
  },
  beforeMount() {
    this.getDayoffs();
  },
}
</script>
